<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Heroic Features - Start Bootstrap Template</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-lg-5">
    <a class="navbar-brand" href="index">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="messages">Posts</a></li>
        <li class="nav-item"><a class="nav-link" href="index">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header-->
<!--<header class="py-5">
  <div class="container px-lg-5">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
      <div class="m-4 m-lg-5">
        <h1 class="display-5 fw-bold">A warm welcome!</h1>
        <p class="fs-4">Bootstrap utility classes are used to create this jumbotron since the old component has been removed from the framework. Why create custom CSS when you can use utilities?</p>
        <a class="btn btn-primary btn-lg" href="#!">Call to action</a>
      </div>
    </div>
  </div>
</header>-->
<!-- Page Content-->
<section class="pt-4">
  <div class="container px-lg-5">
    <!-- Page Features-->
    <div class="row gx-lg-5">
      <table>
        <thead>
        <tr>
          <th> ReservedBy</th>
          <th> Date</th>
          <th> Hour</th>
          <th> Room</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="var : ${pingpong}">
          <td th:text="${var.assigned_by_id}">index0</td>
          <td th:text="${var.datetime}">index1</td>
          <td th:text="${var.hour}">index1</td>
          <!--<td th:text="${var.service_name}">index2</td>-->
          <td th:text="${var.service_room}">index3</td>
          <!--<td th:text="${var.service_id}">index3</td>
          <td th:text="${var.type}">index3</td>-->
        </tr>
        </tbody>
      </table>
      <h1>Gym reservation</h1>
      <div sec:authorize="isAuthenticated()">
        Authenticated as <span sec:authentication="name"></span>
        <form action="#" th:action="@{/pingpong}" method="post" th:object="${pingpongadd}">
          <br>
          <label>Data:</label>
          <input type="date" th:field="*{{datetime}}"><br>
          <label>Hour:</label>
          <input type="time" th:field="*{{hour}}"><br>
          <!--<label>name</label>
          <input type="text" th:field="*{service_name}"><br>-->
          <label>Room</label>
          <input th:list="room" th:field="*{service_room}">
          <datalist id="room">
            <option value="111" />
            <option value="222" />
            <option value="333" />
            <option value="444" />
            <option value="555" />
            <option value="666" />
          </datalist>
          <br><br><br>

          <button type="submit">ADD</button>
          <br>
        </form>
      </div>

    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
